/target
node_modules
/dist
/apps/luthier/dist
/apps/luthier/src-tauri/resources/luthier-orchestrator-base/luthier-orchestrator
/pkgconfig
/libshims
.DS_Store
*.AppImage
*.rpm
*.deb
*.log

/Referencia
